table {width:auto;border-collapse:collapse;}

   table tr th{
    background: url(../images/multicolpng2.png) repeat-x left top;
    background-color:#B387C9!important;

    margin:0px;
    font-size:12px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-style:normal;
    font-weight:bold;

    border-left:1px solid #3A154C;
    height:30px;
    border-collapse:collapse;
   }


   table tr th:last-child {
   border-right:1px solid #3A154C;
   }

   table tr {
    background-color: #F0F0F0;
    color:#000000;
   }
   table tr.new {
    background-color: #CD8DBA;
    color:#ffffff;
   }

   table tr td {
    /*height:90px;*/
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-style:normal;

    border:1px solid #3A154C;
    border-collapse:collapse;
    //background-color: #AB8DBA!important;
   /*!important; */
   }

   .yel {
    background-color:#FFFFe0
   }
   td.w60 {
        width:60px;
        max-width:60px;
   }
   td.w80 {
        width:80px;
        max-width:80px;
   }
   td.w120 {
        width:120px;
        max-width:120px;
   }
   
   td.w200 {
        width:200px;
    }
   
   .w350 {
        width:350px;
   }
   
   td br {margin-bottom:5px;}
