
/*

***********************************************************************
*                                                                     *
*   This Website Template was created at www.freecssmenus.co.uk       *
*                                                                     *
*   Visit us today to create your own FREE Website Template using     *
*   our FREE Online Website Template Builder.                         *
*                                                                     *
*   www.freecssmenus.co.uk/build                                      *
*                                                                     *
*    DO NOT REMOVE THESE CREDITS!                                     *
*                                                                     *
***********************************************************************

*/
@font-face {
    font-family: "tangerine";
    src:url('../fonts/Tangerine_Regular.ttf');
}

img {
    border:0;
}
.imagefloatleft{
margin:0 6px 10px 0;
float:left;
background-color:#462D52!important;
border:1px solid #666;
}
.imagefloatright{
margin:0 0 10px 6px;
float:right;
background-color:#462D52!important;
border:1px solid #666;
}
.clear{clear:both;}
.boldtype{ font-weight:bold;}
p{margin:15px 0;font-size:13px;}
h1,h2,h3{margin:10px 0}
h2{ margin: 10px 0 0 0;font-size:18px;font-weight:bold;}

body {
font-family:Verdana, Arial, Helvetica, sans-serif;
background-color:#462D52!important;
/*background: url(images/curtainborder_lrg359.png);
background-repeat:repeat-y;
background-position: top center;  */
margin:0px;
padding:0px;

}
#bodywatermark{
z-index:100;
position:absolute;
margin:0;
padding:0;
height: auto ;
width:100%;
background: url(../images/lightspread1855.png);
background-repeat:repeat-x;
background-position: top left;

}
#mcontainer{
background-color: #FFFFFF!important;
//background-color:#462D52!important;
background-color:#CD8DBA!important;
padding:10px;
padding:0px;
min-height: 550px;
width: 100%;
margin-right: auto;
margin-left: auto;
margin-top:0px;


}
#maincontainershadow{height:60px;background:none;
 width:938px;margin-right: auto;margin-left: auto;margin-top:-10px;

}
#shadowleft{margin-left:0px;margin-right:0px;overflow:hidden!important;height:60px;
background:url(../images/reflection_shadow.png) 0 0;
background-repeat:no-repeat;background-position:top left;
}
#shadowright{width:450px;float:right;position:relative;height:60px;
background:url(../images/reflection_shadow.png) 0 0;
background-repeat:no-repeat; background-position:top right;
}

#header{
color:#FFFFFF;
background-color: #000000!important;
background: url(../images/spacecolor471.jpg);
background-repeat:no-repeat;
background-position: top center;
margin-top:0px;
height: 70px;
width: auto;
margin-left:0px;
margin-right:0px;
border-top:2px solid #000000;
border-right:2px solid #000000;
border-bottom:2px solid #000000;
border-left:2px solid #000000;

}
#header h1, span.tit{
margin:0px 5px;
padding:0px 5px;
color:#FFFFFF;
font-size:18pt;
font-weight:bold;
}



#header h4, span.subtit, span.subtitinfo,span.user{

margin:0px 5px;
padding:0px 5px;
color:#E0C5ED;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
span.subtit {
float:left;

}

span.subtitinfo {
 float:left;
color:#ffffff;
margin-left:10%;
font-size:12pt;
margin-top:-20px;
}
span.user {
 float:right;
color:#E0C5ED;
margin-right:-180px;
font-size:12pt;
margin-top:-20px;
}

span.slogan {
float: right;
  padding-right: 5px;
  text-align: right;
  font: 300% 'tangerine';
  //font-size:200%;
  color: #ffffff;
  margin-right:15px;
  margin-top:-10px;
}


#headerpad{
padding:20px;
height:auto;
width:auto;
margin:0;
clear:both
}
#headerwatermark{
width:100%;
height:100%;
background: url(../images/diagonalmesh108.png);
background-position: top left;
background-repeat:repeat;
}

.mmenu{
width: auto;
height:auto;
background-color:#B387C9!important;
background: url(../images/multicolpng2.png) repeat-x top left;
border-right:2px solid #000000;
border-left:2px solid #000000;
border-top:2px solid #000000;
border-bottom:2px solid #000000;
margin-top:6px;
margin-right:0px;
margin-left:0px
}
.mmenu ul{ 
padding: 0;
margin:0;
position: relative;
list-style-type: none;
border-left: 1px solid #3A154C;
float:left;
left:0px;
}
.mmenu ul li{
display: inline;
position:relative;
float:left;
//right:205px;
}
.mmenu ul li a{
background: url(../images/multicolpng2.png) repeat-x left top;
background-color:#B387C9!important;
float:left;
margin:0px;
font-size:12px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-style:normal;
font-weight:bold;
display: block;
color:#3A154C;
text-decoration: none;
border-right: 2px solid #3A154C;
padding-left:25px;
padding-right:25px;
line-height:30px;
}
.mmenu ul li a:hover{ 
color:#000000;
/*background: url(../images/multicolpng2.png) repeat-x left top;*/
background-color:#BEA1CC!important;
background-image:none;

}
.mwrapper{padding:0px}
.mmenu ul li span{
line-height:30px;
border-right: 1px solid #3A154C;
float:left;
font-size:10pt;
display:block;
padding-left:25px;
padding-right:25px;

}

#leftcolumn{
background-color: #FFFFFF!important;
margin-top:6px;
height: auto;
width: 200px;
border-top:1px solid #3A154C;
border-right:1px solid #3A154C;
border-bottom:1px solid #3A154C;
border-left:1px solid #3A154C;
float:left; 
}
.leftcolumnpad{
clear:both;
padding:20px;
background: url(../images/div_dark15.png);
background-repeat:repeat-x;
height:auto;
width:auto;
margin:0;
}
.leftcolumnpad p{color:#555555;}
.leftcolumnpad h2{color:#4E3B58;}
.leftcolumnpad a{font-weight:bold;color:#644175;}
.leftcolumnpad a:hover{color:#4E3B58;text-decoration:none;}
.leftdivider{
clear:both;
margin-right: auto;
margin-left: auto;
width:100%;
border-bottom: 1px outset #8C8C8C;
border-top: 1px outset #8C8C8C
}
#centandrightcontainer{
position:relative;
width:auto;
height:auto;
display:block;
overflow:hidden;
}
div.logal {
    width:100%;
}


.centcolumn{
background-color: #FFFFFF!important;
width: auto;
margin-left:6px;
margin-top:6px;
height: auto;
border-top:2px solid #000000;
border-right:2px solid #000000;
border-bottom:2px solid #000000;
border-left:2px solid #000000;
overflow:hidden!important;

}




div.pathbar{
position:relative;
display:inline-block;
background-color: #AB8DBA!important;
width:100%;
padding: 3px;
margin: 0px;
border:1px inset #AB8DBA;
}

div#new_mail_info {
 color:#ffffff;
 font-size:10pt;
 font-weight:normal;
}


.hidden_mail_body {
    background-color:#fff;max-height:300px;overflow:scroll;font-family:Arial;font-size:10pt;display:none;
}


.centcolumnpad {
clear:both;
padding:3px;
background-color:#ffffff;font-size:10pt;
}
.centcolumnpad p{color:#ffffff;}
.centcolumnpad h2{color:#4E3B58;}
.centcolumnpad a{font-weight:bold;color:#644175;}
.centcolumnpad a:hover{color:#4E3B58;
text-decoration:none;
}
.centerdivider{
clear:both;
margin-right: auto;
margin-left: auto;
width:100%;
border-bottom: 1px outset #FFFFFF;
border-top: 1px outset #FFFFFF
}
#rightcolumn{
background-color: #FFFFFF!important;
margin-top:6px;
margin-right:0px;
margin-left:6px;
height: auto;
width: 200px;
float:right
}
.rightcolumnpad{
padding:20px;
height:auto;
width:auto;
margin:0;
clear:both;
}
.rightcolumnpad p{color:#555555;}
.rightcolumnpad h2{color:#4E3B58;}
.rightcolumnpad a{font-weight:bold;color:#644175;}
.rightcolumnpad a:hover{color:#4E3B58; text-decoration:none;
}
.rightdivider{
clear:both;
margin-right: auto;
margin-left: auto;
width:80%;
border-top: 1px outset #B8B8B8;
border-bottom: 1px outset #B8B8B8;
}
#footer{
background-color: #AB8DBA!important;
background: url(../images/topleftglow269.png);
background-repeat:no-repeat;
background-position: top left;
margin-top:6px;
height: auto;
width: auto;
margin-left:0px;
margin-right:0px;
border-top:1px solid #000000;
border-right:1px solid #000000;
border-bottom:1px solid #000000;
border-left:1px solid #000000;

}
#footerpad{
text-align:center;
padding:0px;
height:auto;
width:auto;
clear:both
}
#footerpad p{color:#3D3242;}
#footerpad a{font-weight:bold;color:#FFFFFF!important;}
#footerpad a:hover{color:#4E3B58!important; text-decoration:none;}

#bodyfoot{
position:absolute;
z-index:-500;
width:100%;background-color: #9663AD!important;margin-top:-100px;
height:auto;
}
#bodyfootim{position:relative;width:100%;margin-top:-0px;background: url(../images/gradient1453.png);background-repeat:repeat-x;background-position: top left;border-top:8px solid #2C1C33;
}
#bodyfootcontent{
padding-left:15px;
color:#E6C3F7;
height:180px;padding-top:200px;width:938px;margin-right: auto;
margin-left: auto;

padding-bottom:25px;
}
#bodyfootcontent a{color:#E6C3F7;}
#freecssmenus{height:60px;background:none;
 width:938px;margin-right: auto;margin-left: auto;
}

img.act {
margin-left:15px;
margin-right:15px;
float:right;
}

div.mailcontainer {

     min-height:330px;
    /*max-height:420px;
    overflow:scroll;*/
}

.paperclip
{ float: left;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  margin: -32px 0 -60px -30px;}
  
  div.break {
    position:relative;
    float:left;

    display:block;

    clear:both;

  }

  label, input { display:block;float:left;padding: 5px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:8pt;font-weight:normal; }
        label {width:120px;text-align:right;}
        label.w50 {width:50px;}
        select.w50 {width:50px;}
        input { margin-bottom:12px; width:50px;border:1px solid #a0a0a0; }
        input.w60 {width:60px;}
        input.w70 {width:70px;}
        input.w80 {width:80px;}
        input.w120 {width:120px;}
        input.w150 {width:150px;}
        input.w200 {width:200px;}
        input.w300 {width:300px;}
        textarea { margin-bottom:12px; width:300px; height:80px;  font-size:10pt;border:1px solid #a0a0a0; }
        fieldset { padding:0; border:0; margin-top:25px;font-family:Verdana, Arial, Helvetica, sans-serif;font-style:normal;font-size:10pt; }
  label, button {font-size:10pt;}

  div.depts{position:relative;display:block; overflow:scroll; height:450px;width:95%;float:left;clear:both;}
  
  label.srch, input.srch {float:left;clear:none;text-align:left;}
  label.srch {width:auto;}
  
   div.srch, div.impinfo {
    position:relative;display:block;float:left;
    font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10pt;
    padding-left:3px;



  }
  div.srch {clear:none;}
  div.impinfo {clear:both;}



  
  span.depts {display:inline-block;}
        
   #create-user {width:150px; font-size:10pt;}
   
   table {width:auto;border-collapse:collapse;}
   
   table tr th{
    background: url(../images/multicolpng2.png) repeat-x left top;
    background-color:#B387C9!important;

    margin:0px;
    font-size:12px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-style:normal;
    font-weight:bold;

    border-left:1px solid #3A154C;
    height:30px;
    border-collapse:collapse;
   }


   table tr th:last-child {
   border-right:1px solid #3A154C;
   }

   table tr {
    background-color: #F0F0F0;
    color:#000000;
   }
   table tr.new {
    background-color: #CD8DBA;
    color:#ffffff;
   }

   table tr td {
    /*height:90px;*/
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-style:normal;

    border:1px solid #3A154C;
    border-collapse:collapse;
    //background-color: #AB8DBA!important;
   /*!important; */
   }
   
   .yel {
    background-color:#FFFFe0
   }
   td.w60 {
        width:60px;
        max-width:60px;
   }
   td.w80 {
        width:80px;
        max-width:80px;
   }
   td.w120 {
        width:120px;
        max-width:120px;
   }
   td.w200 {
        width:200px;
        max-width:200px;
   }
   td br {margin-bottom:5px;}
   
   #form_id {
   display:none;

   }
   
   div.msgbar {
    position:relative;
    display:inline-block;
    width:100%;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12pt;
    font-weight:bold;
    color:#ffffff;
    background-color:#B387C9;
    padding:3px;
    border:1px solid #3A154C;
    float:left;
    clear:both;
    min-height:20px;
    margin-bottom:10px;
    margin-top:-20px;
    background:url(../images/glass.png) 50% 50% repeat-x;

   }
   #uploads {
   display:none;
   }
   
   a#newimport {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:8pt;
    color:#ffffff;
    text-decoration:none;
   }
   a#newimport:hover{
    text-decoration:underline;
   }
   img.act2 {
   margin-left:5px;
   }
   
   a.page, a.cur_page {
    border:1px solid #3A154C;
    background:url(../images/glass.png) 50% 50% repeat-x;
    color:#ffffff;
    width:20px;
    margin-right:5px;
    display:inline-block;
    text-align:center;
   }
   
   a.cur_page {
        background:none;
        background-color:#B387C9;
   }

   #login_id {
        text-align:center;

   }
   
   p.error {
    color:#800000;
   }
   p.con {
   color:#3A154C;
   }

   .dpt_highlight {
        font: weight;
        transition: ease 300ms;
	-webkit-transition: ease 300ms;
	-moz-transition: ease 300ms;
	-o-transition: ease 300ms;
	-khtml-transition: ease 300ms;
   }

   .dpt_highlight:hover {
        color: blue;
	background: pink;
        cursor: pointer;
        transition: ease 300ms;
	-webkit-transition: ease 300ms;
	-moz-transition: ease 300ms;
	-o-transition: ease 300ms;
	-khtml-transition: ease 300ms;
   }
